:root {
  --font-family-base: "Fira Sans Condensed", sans-serif;
}

.app-body {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../public/images/app-background.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  margin-top: -7.6px;
  margin-left: -7.6px;
  background-color: rgb(0 0 0 / 60%);
}

.app-table {
  width: 76%;
  height: 69%;
  display: flex;
  flex-direction: row;
  /* padding: 80px 50px 50px; */
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 20px;
  /* padding-bottom: 150px; */
  background-color: rgb(37, 25, 79);
  border: 1px solid rgb(255 255 255 / 10%);
  border-radius: 38px;
  color: rgb(236, 232, 225);
  position: relative;
}

.img-anime-girl {
  width: 480px;
  position: absolute;
  /* bottom: -77px; */
  /* right: 50px; */
}

.text-with-image {
  /* flex: 1; */
  /* display: flex; */
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* padding-right: 500px; */
}

.app-table::after {
  content: "デ";
  font-size: 150px;
  font-weight: 500;
  position: absolute;
  top: -100px;
  left: -80px;
  color: rgb(235, 112, 254);
  text-shadow: rgb(235, 112, 254) 0px 0px 20px;
}

.app-table-list {
}

.first-title {
  font-size: 82px;
  font-weight: 700;
  font-family: var(--font-family-base);
  margin: 0;
  letter-spacing: -5px;
}

.second-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.4;
  overflow-wrap: break-word;
  white-space: normal;
  width: 90%;
  font-family: var(--font-family-base);
}

.third-title {
  font-family: var(--font-family-base);
}

.app-projects {
  margin-top: 60px;
  font-family: var(--font-family-base);
}

.projects-hrefs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.projects-href {
  align-items: center;
  padding: 10px 19px;
  border-radius: 999px;
  border: 1px solid #06f;
  color: rgb(236 232 225);
  transition: 0.25s;
  text-decoration: none;
  font-family: var(--font-family-base);
}

.projects-href:hover {
  background-color: #06f;
}

@media (min-width: 320px) {
  .app-table {
    flex-direction: column;
    align-items: center;
    /* width: 76%; */
    height: 83.3%;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 20px;
  }

  .text-with-image {
    padding-right: 0;
    text-align: center;
  }

  .img-anime-girl {
    width: 150px;
    position: static;
    margin-top: 20px;
  }

  .app-table::after {
    content: "デ";
    font-size: 75px;
    font-weight: 500;
    position: absolute;
    top: -50px;
    left: -33px;
    color: rgb(235, 112, 254);
    text-shadow: rgb(235, 112, 254) 0px 0px 20px;
  }

  .first-title {
    font-size: 20px;
    font-weight: 700;
    font-family: var(--font-family-base);
    margin-top: 15px;
    letter-spacing: 5px;
    display: flex;
    justify-content: center;
  }

  .second-title {
    font-size: 15px;
    font-weight: 500;
    width: 100%;
  }

  .third-title {
    font-size: 14.5px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    /* align-items: center; */
  }

  .app-projects {
    margin-top: 10px;
  }

  .projects-hrefs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .projects-href {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 7px;
    border-radius: 999px;
    border: 1px solid #06f;
    color: rgb(236 232 225);
    transition: 0.25s;
    text-decoration: none;
    font-family: var(--font-family-base);
    margin-bottom: 5px;
  }
}

@media (min-width: 768px) {
  .app-table {
    flex-direction: column;
    align-items: center;
    height: 60.1%;
  }

  .first-title {
    font-size: 46px;
    font-weight: 380;
    letter-spacing: 5px;
    display: flex;
    justify-content: center;
    margin-top: 60px;
  }

  .second-title{
    font-size: 25px;
    font-weight: 600;
    padding-left: 35px;
  }

  .third-title{
    font-size: 22px;
    font-weight: 600;
  }

  .text-with-image {
    padding-right: 0;
    text-align: center;
  }

  .img-anime-girl {
    width: 273px;
    position: static;
    margin-top: 20px;
  }

  .app-table::after {
    content: "デ";
    font-size: 130px;
    font-weight: 500;
    position: absolute;
    top: -90px;
    left: -60px;
    color: rgb(235, 112, 254);
    text-shadow: rgb(235, 112, 254) 0px 0px 20px;
  }

  .projects-hrefs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .projects-href {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 9px;
    /* margin-left: 35px; */
    /* margin-right: 35px; */
    border-radius: 999px;
    border: 1px solid #06f;
    color: rgb(236 232 225);
    transition: 0.25s;
    text-decoration: none;
    font-family: var(--font-family-base);
    
  }
}

@media (min-width: 1024px) {
  .app-table {
    flex-direction: row;
    width: 83.5%;
    height: 69%;
  }

  .img-anime-girl {
    width: 480px;
  }

  .first-title {
    font-size: 82px;
    font-weight: 700;
    font-family: var(--font-family-base);
    margin: 0;
    letter-spacing: -5px;
  }

  .projects-hrefs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .projects-href {
    align-items: center;
    padding: 10px 19px;
    border-radius: 999px;
    border: 1px solid #06f;
    color: rgb(236 232 225);
    transition: 0.25s;
    text-decoration: none;
    font-family: var(--font-family-base);
  }
}

@media (min-width: 1440px) {
  .app-table {
    flex-direction: row;
    width: 80%;
    height: 41.5%;
  }

  .img-anime-girl {
    width: 480px;
  }

  .app-table::after {
    content: "デ";
    font-size: 150px;
    font-weight: 500;
    position: absolute;
    top: -100px;
    left: -70px;
    color: rgb(235, 112, 254);
    text-shadow: rgb(235, 112, 254) 0px 0px 20px;
  }

  .first-title {
    font-size: 82px;
    font-weight: 700;
    font-family: var(--font-family-base);
    margin: 0;
    letter-spacing: -5px;
  }

  .projects-hrefs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .projects-href {
    align-items: center;
    padding: 10px 19px;
    border-radius: 999px;
    border: 1px solid #06f;
    color: rgb(236 232 225);
    transition: 0.25s;
    text-decoration: none;
    font-family: var(--font-family-base);
  }
}
